<div class="site-header__header-one-wrap">
    <div class="topbar-one">
        <div class="container-fluid">
            
            <div class="topbar-one__right">
                <a href="@Url.Action("Contact","Contact")" class="topbar-one__guide-btn">Liên hệ</a>
            </div>
        </div>
    </div>
    <header class="main-nav__header-one ">
        <nav class="header-navigation stricky">
            <div class="container">

                <div class="main-nav__logo-box">
                    <a href="@Url.Action("Index","Home")" class="main-nav__logo">
                        <img src="~/assets/images/logo-dark.png" class="main-logo" width="123" alt="Travel" />
                    </a>
                    <a href="@Url.Action("Index","Home")" class="side-menu__toggler">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
                <div class="main-nav__main-navigation">
                    <ul class=" main-nav__navigation-box">
                        <li>
                            <a href="@Url.Action("Index","Home")">Trang chủ</a>
                        </li>
                        <li>
                            <a href="@Url.Action("List","Tour")">Tour du lịch</a>
                        </li>
                        <li>
                            <a href="#">Đánh giá</a>
                        </li>
                        <li>
                            <a href="@Url.Action("List","Blog")">Bài viết</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Contact","Contact")">Liên hệ</a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
    </header>
</div>
