
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
    var contacts = ViewData["Contacts"] as List<Contact>;
    var loopIndex = 1;
}

<div class="card">
    <div class="card-body">
        <div class="adv-table table-responsive">
            <table class="display table table-bordered table-striped data-table">
                <thead class="bg-info text-white">
                    <tr>
                        <th>#</th>
                        <th>Tên </th>
                        <th>Email</th>
                        <th>Số điện hoại</th>
                        <th>Tiêu đề</th>
                        <th>Chức năng</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var contact in contacts)
                    {
                        <tr>
                            <th>@loopIndex</th>
                            <th>@contact.FullName</th>
                            <th>@contact.Email </th>
                            <th>@contact.Phone</th>
                            <th>@contact.Subject</th>
                            <th>
                                <a asp-action="Detail" asp-controller="Contact" asp-route-id="@contact.Id" class="btn btn-sm btn-success d-inline-block">Xem</a>
                                <form class="d-inline-block" method="Post" asp-action="Delete" asp-controller="Contact" asp-route-id="@contact.Id">
                                    <button class="btn btn-sm btn-danger" type="submit">Xóa</button>
                                </form>
                            </th>
                        </tr>
                        loopIndex++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

