@using System.Globalization;
@{
    ViewData["Title"] = "Home Page";
    var popTours = ViewData["PopTours"] as List<Tour>;
    var popBlogs = ViewData["PopBlogs"] as List<Blog>;
    var provinces = ViewData["Provinces"] as List<Province>;
}

@model Travel_ASP.ViewModels.SearchViewModel

<section class="banner-one" style="background-image: url('/assets/images/background/banner-1-1-bg.jpg');">
    <div class="container">
        <h2>Tìm Kiếm <span>Tour Du Lịch</span></h2>
        <p>Địa chỉ cần tìm kiếm?</p>
        <form class="tour-search-one" method="post" asp-action="Search" asp-controller="Home">
            <div class="tour-search-one__inner">
                <div class="tour-search-one__inputs">
                    <div class="tour-search-one__input-box">
                        <label for="place">Địa chỉ</label>
                        <select class="selectpicker" asp-for="Province" id="type">
                            <option value="">Chọn Địa Chỉ</option>
                            @foreach (var province in provinces)
                            {
                                <option value="@province.Id">@province.Name</option>
                            }
                        </select>
                    </div>
                    <div class="tour-search-one__input-box">
                        <label for="when">Số Người</label>
                        <select class="selectpicker" asp-for="PeopleCount" id="type">
                            <option value="">Chọn số người</option>
                            <option value="1">Dưới 3 người</option>
                            <option value="2">3 - 8 người</option>
                            <option value="3">8 người trở lên</option>
                        </select>
                    </div>
                    <div class="tour-search-one__input-box">
                        <label for="type">Ngày</label>
                        <select class="selectpicker" asp-for="DayCount" id="type">
                            <option value="">Chọn số ngày</option>
                            <option value="1">Trong ngày</option>
                            <option value="2">2 ngày</option>
                            <option value="3">3 ngày</option>
                            <option value="4">Trên 3 ngày</option>
                        </select>
                    </div>
                </div>
                <div class="tour-search-one__btn-wrap">
                    <button type="submit" class="thm-btn tour-search-one__btn">Tìm Kiếm</button>
                </div>
            </div>
        </form>
    </div>
</section>

<section class="features-one__title">
    <div class="container">
        <div class="block-title text-center">
            <p>Gọi để đặt tour ngay bây giờ!</p>
            <h3>Giành Giải Thưởng Và <br> Nhà Điều Hành Du Lịch</h3>
        </div>
    </div>
</section>

<section class="features-one__content">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="000ms">
                <div class="features-one__single">
                    <i class=" tripo-icon-tour-guide"></i>
                    <h3>100+ Địa Điểm <br> Hướng Dẫn</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="100ms">
                <div class="features-one__single">
                    <i class=" tripo-icon-reliability"></i>
                    <h3>100% Tin Cậy <br> Đại Lý</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="200ms">
                <div class="features-one__single">
                    <i class=" tripo-icon-user-experience"></i>
                    <h3>5+ Năm Du Lịch <br> Kinh Nghiệm</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="300ms">
                <div class="features-one__single">
                    <i class=" tripo-icon-feedback"></i>
                    <h3>98% Du Khách Chúng Tôi <br> Hạnh Phúc</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="tour-one">
    <div class="container">
        <div class="block-title text-center">
            <p>Nổi bật</p>
            <h3>Được lựa chọn nhiều</h3>
        </div>
        <div class="row">

            @foreach (var tour in popTours)
            {
                <div class="col-xl-4 col-lg-6">
                    <div class="tour-one__single">
                        <div class="tour-one__image">
                            <img src="/uploads/@tour.Image" height="330px" alt="">
                            <a asp-controller="Tour" asp-action="TourDetail" asp-route-id="@tour.Id"><i class="fa fa-heart"></i></a>
                        </div>
                        <div class="tour-one__content">
                            <h3><a asp-controller="Tour" asp-action="TourDetail" asp-route-id="@tour.Id">@tour.Name</a></h3>
                            <p><span>@tour.Price.Value.ToString("#,### đ", CultureInfo.GetCultureInfo("vi-VN"))</span></p>
                            <ul class="tour-one__meta list-unstyled">
                                <li><a asp-controller="Tour" asp-action="TourDetail" asp-route-id="@tour.Id"><i class="far fa-clock"></i> @tour.DayCount ngày</a></li>
                                <li><a asp-controller="Tour" asp-action="TourDetail" asp-route-id="@tour.Id"><i class="far fa-user-circle"></i>@tour.MinPeople - @tour.MaxPeople người</a></li>
                                <li><a asp-controller="Tour" asp-action="TourDetail" asp-route-id="@tour.Id"><i class="far fa-map"></i> @tour.Province?.Name</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<section class="video-one" style="background-image: url('/assets/images/background/video-bg-1-1.jpg');">
    <div class="container text-center">
        <a href="https://www.youtube.com/watch?v=i9E_Blai8vk" class="video-one__btn video-popup"><i class="fa fa-play"></i></a>
        <p>Nơi bạn yêu thích</p>
        <h3><span>Travel</span> Hàng Đầu Thế Giới <br> Về <span>Nền Tảng Du Lịch</span></h3>
    </div>
</section>

<section class="cta-three">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-6">
                <div class="cta-three__content">
                    <div class="cta-three__content-inner">
                        <div class="block-title text-left">
                            <p>Chuyên Nghiệp</p>
                            <h3>Được Tin Tưởng <br> Bởi Hơn <span class="counter">199</span> <br> Khách Hàng</h3>
                        </div>
                        <img src="/assets/images/background/cta-3-1.jpg" data-wow-duration="1500ms" class="wow fadeInLeft img-fluid" alt="">
                        <div class="cta-three__box">
                            <p>
                                Chúng tôi luôn mang đến
                                <br> điều tốt nhất cho bạn
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 text-lg-right text-md-center">
                <div class="cta-three__images wow fadeInRight" data-wow-duration="1500ms">
                    <img src="/assets/images/background/cta-3-2.jpg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="funfact-one">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-xl-2 col-md-6">
                <div class="funfact-one__single">
                    <h3><span class="counter">99</span></h3>
                    <p>Hướng dẫn viên</p>
                </div>
            </div>
            <div class="col-xl-2 col-md-6 justify-content-xl-center">
                <div class="funfact-one__single">
                    <h3><span class="counter">100</span></h3>
                    <p>Tours Hoàn Thành</p>
                </div>
            </div>
            <div class="col-xl-2 col-md-6 justify-content-xl-center">
                <div class="funfact-one__single">
                    <h3><span class="counter">5</span>+</h3>
                    <p>Kinh Nghiệm Du Lịch</p>
                </div>
            </div>
            <div class="col-xl-2 col-md-6 justify-content-xl-end text-xl-right">
                <div class="funfact-one__single">
                    <h3><span class="counter">100</span>+</h3>
                    <p>KH Hài Lòng</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="blog-one">
    <div class="container">
        <div class="block-title text-center">
            <h3>Bài Viết Nổi Bật</h3>
        </div>
        <div class="row">
            @foreach (var blog in popBlogs)
            {
                <div class="col-lg-4 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="000ms">
                    <div class="blog-one__single">
                        <div class="blog-one__image">
                            <img src="/uploads/@blog.Image" alt="">
                            <a asp-action="BlogDetail" asp-controller="Blog" asp-route-id="@blog.Id"><i class="fa fa-long-arrow-alt-right"></i></a>
                        </div>
                        <div class="blog-one__content">
                            <ul class="list-unstyled blog-one__meta">
                                <li><a asp-action="BlogDetail" asp-controller="Blog" asp-route-id="@blog.Id"><i class="far fa-user-circle"></i> Admin</a></li>
                                <li><a asp-action="BlogDetail" asp-controller="Blog" asp-route-id="@blog.Id"><i class="far fa-clock-o"></i> @blog.CreatedAt.Value.ToString("dd/MM/yyyy")</a></li>
                            </ul>
                            <h3><a asp-action="BlogDetail" asp-controller="Blog" asp-route-id="@blog.Id">@blog.Name</a></h3>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>