@using System.Globalization;

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var tours = ViewData["Tours"] as List<Tour>;
}

<section class="tour-one tour-grid">
    <div class="container">
        <div class="tour-sorter-one">
            <h3>Tìm thấy @tours.Count tour du lịch</h3>
        </div>
        <div class="row">
            @foreach (var tour in tours)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="tour-one__single">
                        <div class="tour-one__image">
                            <img src="/uploads/@tour.Image" height="330px" alt="">
                        </div>
                        <div class="tour-one__content">

                            <h3><a asp-action="TourDetail" asp-controller="Tour" asp-route-id="@tour.Id">@tour.Name</a></h3>
                            <p><span>@tour.Price.Value.ToString("#,### đ", CultureInfo.GetCultureInfo("vi-VN")) </span></p>
                            <ul class="tour-one__meta list-unstyled">
                                <li>
                                    <a asp-action="TourDetail" asp-controller="Tour" asp-route-id="@tour.Id">
                                        <i class="far fa-clock"></i> @tour.DayCount
                                    </a>
                                </li>
                                <li>
                                    <a asp-action="TourDetail" asp-controller="Tour" asp-route-id="@tour.Id">
                                        <i class="far fa-user-circle"></i> @tour.MinPeople
                                        - @tour.MaxPeople người
                                    </a>
                                </li>
                                <li>
                                    <a asp-action="TourDetail" asp-controller="Tour" asp-route-id="@tour.Id">
                                        <i class="far fa-map"></i> @tour.Province?.Name
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
